<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <li>
    <h1><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
    <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>
    <detail><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
    <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
    </detail></li>
    <h3>Reviews for <%= restaurant.name %></h3>

    <% if restaurant.reviews.any? %>
      <ul>
        <% restaurant.reviews.each do |review| %>
          <li>
            <p><%= review.thoughts %>, <strong><%= review.rating %></strong>/5</p>
            <%= link_to "Delete #{restaurant.name} review", restaurant_review_path(restaurant, review), method: :delete %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews.</p>
    <% end %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<%= link_to "Add a restaurant", new_restaurant_path %>